@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}    
<div id="grid-tabela">
    <h3>@ViewBag.NomeTabela</h3>
    <table class="table table-striped @ViewBag.NomeTabela" id="tabela">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Complexidade</th>
            <th scope="col">Descrição</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>