body {
    background: black;
    font-family: sans-serif;
}
#container-tudo {
    background: darkgrey;
    max-width: 900px;
    height: 100%;
    margin-left: 500px;
    text-align: center;
}
#grid-form {
    text-align: start;
}
.inputs {
    width: 100px;
}

th {
    border-bottom: 1px black solid;
}

td {
    border-bottom: 1px black solid;
}

#grid-form {
    border: 1px solid black;
}

#armazenamento {
    background: white;
}

.input {
    width: 50%;
}